*{
  padding:0;
  margin:0;
}
body {
  font-family: 'Press Start 2P', cursive;
  background-image:linear-gradient(black,white,grey);
  color: grey;
  height: 100vh;
  width: 100vw;
}

header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  min-height: 18vh;
  margin-left: 50px;
  margin-right: 50px
}

.head{
  color:rgb(148, 148, 148);
  text-shadow: 3px 3px 1px #fff;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  display: flex;
  font-size: 3rem;
}

.flags {
  color: grey;
  text-shadow: 1px 1px 1px #fff;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-bottom: 5px;
  transform: scale(1, 1.8);
}

.reset {
  font-family: 'Press Start 2P', cursive;
  color: black;
  height: 3.5rem;
  width: 10rem;
  font-size: 1.5rem;
  background-color: white;
  box-shadow:3px 3px 1px grey;
  margin-bottom: 5px;
  cursor: pointer;
}

.reset:hover{
  background:black;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid;
  border-color: #b8c4d9 #8c929c #8c929c #b8c4d9;
  background-color: #acb3bf;
  justify-content: center;
}

.grid div {
  display: flex;
  height: 40px;
  width: 40px;
  color: black;
  border: 5px solid;
  border-color: #b8c4d9 #8c929c #8c929c #b8c4d9;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.checked{
  background-color: #a6a2a1;
  align-items: center;
  justify-content: center;
}

.bomb {
  align-items: center;
  justify-content: center;
}
